h1{
    color: red;
}

.box{
    max-width: 200px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0/16) 0px 1px 4px;
    padding: 10px;
}

.App{
    background-color: aqua;
}

.footer{
    background-color: blueviolet;
  }

  .header{
    background-color: blueviolet;
  }

.success{
    background-color: green;
}
.warning{
    background-color: orange;
}
.alert{
    background-color: red;
}